<body>

  <header>
  <div class="heading">
    <h1 class="title">D-Photo</title>
  </div>

  <div class="navbar">
    <ul class="nav-lists">
    <li>新規登録</li>
    <li>ログイン</li>
    </ul>
  </div>

  </header>

<div class="main">
  <div class="first-view">
    <%= image_tag("095258.jpg", class: :top_image) %>
  </div>
  
  <div class="description">
  <%# d-photoの概要を乗せる %>
  </div>
  <div class="photo-list">
  <%# 写真の一覧ページを乗せる %>
  </div>
</div>

  <footer>
  </footer>

</body>