<header>

</header>

<div class="main">
  <div class="first-view">
  <%# トップページの画像を表示する %>
  </div>
  <div class="description">
  <%# d-photoの概要を乗せる %>
  </div>
  <div class="photo-list">
  <%# 写真の一覧ページを乗せる %>
  </div>
</div>

<footer>
</footer>
