<link href="https://fonts.googleapis.com/css?family=Bangers rel="style.css">

<body>

  <header>
    <div class="heading">
        <h1 class="title">D-Photo</h1>
    </div>
    <div class="navbar">
      <ul class="nav-lists">
      <li>検索</li>
      <li><%= link_to 'ログイン', new_user_session_path, class: :nav__btn %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: :nav__btn %></li>  
      </ul>
    </div>
  </div>
  </header>

<div class="first-view">
    <%= image_tag("img2.jpg", class: :top_image) %>

   <div class="photo-title">
      <h1>D-Photo</h1><br>
      <h2>さぁ、旅に出かけよう</h2>
      <%= link_to 'D-Photoをはじめよう', new_user_registration_path, class: :start__btn %>
   </div>
</div>

<div class="main">
 
  
  <div class="description">
  <%# d-photoの概要を乗せる %>
  </div>
  <div class="photo-list">
  <%# 写真の一覧ページを乗せる %>
  </div>
</div>

  <footer>
  </footer>

</body>