<div class="show-main">
 <div class="show-box">
      <div class="show-photo">
        <%= link_to @photo.image, "data-lightbox": @photo.image, class:"show-box-img" do %>
        <%= image_tag @photo.image, class:"show-box-img"%>
        <% end %>
        <%# <%= link_to @photo.image, class:"show-box-img" %> 
        <%# <%= image_tag @photo.image,class:"show-box-img" %> 
        
      </div>
      <div class="show-profile">
      </div>

  <div class="show-bottom">
      <div class="show-text">
      </div>
      <%# <div class="show-title">
      </div> %>
  </div>
 
 </div>
</div>
