<div class="show-main">
 <div class="show-box">
      <div class="show-photo">
      </div>
      <div class="show-profile">
      </div>

  <div class="show-bottom">
      <div class="show-text">
      </div>
      <%# <div class="show-title">
      </div> %>
  </div>
 
 </div>
</div>