@charset "utf-8";

body{
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}


header{
  height: 90px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  box-shadow: 10px 5px 5px #333;
}

.heading{
  width: 50%;
  font-size: 20px;
  font-family: 'Bangers', cursive;
  margin-left: 30px;
  color: #808080
}


.first-view{
 height: 80vh;
 width: 100%;
 position: relative;
}



.photo-title{
 height: 50%;
 width: 50%;
 color: #fff;
 position: absolute;
 top: 20%;
 left: 25%;
 right: 25%;
 bottom: 50%;
}


.photo-title h1{
  text-align: center;
  font-size: 100px;
  font-family: 'Bangers', cursive;
  text-shadow: 1px 2px 3px #808080;
}

.photo-title h2{
text-align: center;
font-size: 20px;
font-family: "Hiragino Sans";
text-shadow: 1px 2px 3px #808080;
}

.start__btn{
 text-decoration: none;
} 

.navbar{
  width: 20%;
  padding: 30px;
  margin-left: 800px;
  color:#333;
  font-size: 20px;
}

.nav-lists{
 display: flex;
 justify-content: space-evenly;
}

.nav__btn{
  text-decoration: none;
}

li {
  list-style: none;
}


.main{
 height: 100%;
 margin-top: 2px;
}



.top_image{
  height: 100%;
  width: 100%;
  box-shadow: 0px 2px 2px #333;
}

.description{
 height: 450px;
 margin: 0 160px;
}

.photo-list{
 height: 1200px;
 margin: 0 160px;
}

footer{
 height: 20px;
}
