@charset "utf-8";

body{
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}


header{
  height: 90px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  box-shadow: 10px 2px 5px #333;
}

.heading{
  width: 50%;
  font-size: 20px;
  font-family: 'Bangers', cursive;
  margin-left: 30px;
  color: #808080
}


.first-view{
 height: 80vh;
 width: 100%;
 position: relative;
}

.top_image{
  position: absolute;
  height: 80vh;
  /* opacity: 0;
  transition:all 1s ease-in-out; */
  /* 作業中に画像が消えるので一度、コメントアウト */
}



.photo-title{
 height: 50%;
 width: 50%;
 color: #fff;
 position: absolute;
 top: 20%;
 left: 25%;
 right: 25%;
 bottom: 50%;
}


.photo-title h1{
  text-align: center;
  font-size: 100px;
  font-family: 'Bangers', cursive;
  text-shadow: 1px 2px 3px #808080;
}

.photo-title h2{
text-align: center;
font-size: 20px;
font-family: "Hiragino Sans";
text-shadow: 1px 2px 3px #808080;
}

.start__btn{
 display: block;
 padding: 10px 0px;
 width: 400px;
 font-size: 30px;
 font-family: "Hiragino Sans";
 text-shadow: 1px 1px 1px #000;
 color: #fff;
 text-decoration: none;
 text-align: center;
 border: 1px #808080 solid;
 border-radius: 10px;
 margin: 80px auto;
 background-color: #808080;
 transition: 0.4s ease;
} 

.start__btn:hover{
  color: #808080;
  background: #fff;
}

.navbar{
  width: 40%;
  margin: 0px 10px;
  padding: 30px;
  margin-left: 800px;
  color:#333;
  font-size: 20px;
  font-family: 'M PLUS 1p', "sens-serif";
}

.nav-lists{
 display: flex;
 justify-content: space-evenly;
}

.nav__btn{
  display: inline-block;
  padding: 0.1em 0em;
  font-size: 1em;
  color: #333;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  position: relative;
}
.nav__btn::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.nav__btn:hover::after {
  transform: scale(1, 1);
}


li {
  list-style: none;
}


.main{
 height: 100%;
 margin-top: 2px;
}



.top_image{
  height: 100%;
  width: 100%;
  box-shadow: 0px 2px 2px #333;
}

.description{
 height: 350px;
 margin: 0 160px;
 padding-top: 100px;
 text-align: center;
 font-family: 'Noto Sans JP', sans-serif;
}


.description h1{
  display: block;
  padding-bottom: 10px;
 }


.bicycle-icon{
  font-size: 30px;
  color: #808080;
}

.procedure{
  display: flex;
  justify-content: space-around;
  height: 350px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 50px;
 }

.manner{
  height: 350px;
  width: 300px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  box-shadow:0px 0px 10px;
  border:1px solid #808080;
 }



 .manner p{
   text-align: left;
   font-size: 17px;
   margin-top: 15px;
 }

 .new-line{
   margin-left: 3px;
 }

 .pen{
   font-size: 40px;
   color: 	#33FF66;
 }

 .camera{
  font-size: 40px;
  color: 	#333;
  opacity: 0.6;
  margin-top: 30px;
 }

 .fa-comments{
  font-size: 40px;
  margin-top: 80px;
 }

 .heart{
  font-size: 40px;
  margin-top: 80px;
  color: red;
 }


.new-post{
  height: 350px;
  width: 300px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  box-shadow:0px 0px 10px;
  border:1px solid #808080;
 }

.comment-method{
  height: 350px;
  width: 300px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  box-shadow:0px 0px 10px;
  border:1px solid #808080;
 }
 


.photo-contents{
 height: 1200px;
 margin-top: 150px;
 padding: 100px;
 background-color: 	#EEEEEE;
position: relative;
align-items: center;
}


.photo-lists{
display: flex;
/* justify-content: space-between; */
position: absolute;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
width: 90%;
height: 70%
}

.photo-lists h3{
text-align: center;
}

.photo-img{
width: 300px;
height: 200px;
}



.catalog{
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  padding-bottom: 100px;
}

.photo-info{
 display: flex;
 justify-content: space-around;
 padding-bottom: 20px;
}

.photo-info a{
  text-decoration: none;
  padding: 12px;
}

.count{
  padding-top: 12px;
}



.like-count{
  padding-top: 12px;
}

footer{
 height: 20px;
}
