@charset "utf-8";

body{
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
 padding: 0;
 margin: 0;
}

header{
 height: 90px;
 padding: 10px 0;
 background-color: #fff;
 box-shadow: 0px 2px 2px #333;
 display: flex;
}

.heading{
 width: 50%;
 color: #333;
 margin:10px 0 0 30px;
}

.navbar{
 width: 50%;
 padding: 30px;
 color: #333;
 font-size: 20px;
}

.nav-lists{
 display: flex;
 justify-content: space-evenly;
}
.nav__btn{
}

li {
  list-style: none;
}


.main{
 height: 100%;
 margin-top: 2px;
}

.first-view{
 height: 75vh;
 /* margin: 0 160px; */
 /* display: flex; */
}

.top_image{
  height: 100%;
  width: 100%;
  box-shadow: 0px 2px 2px #333;
}

.description{
 height: 450px;
 margin: 0 160px;
}

.photo-list{
 height: 1200px;
 margin: 0 160px;
}

footer{
 height: 20px;
}
